.logo {
    width: 150px;
    height: 150px;
    border-radius:  40%;
    align-items: center;
    margin-left: 400px;
}

.TEXT {
    color: aliceblue;
    text-align: center;
    font-family: 'Lobster', cursive;
    transform: translateY(50px);
    margin-left: -300px;
    font-size: 70px;
}



body {
    background-image: url(images/back.jpg);
    background-position: right bottom, left top;
    width: 1920px;
    height: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    border: 2px solid rgb(0, 0, 0);
}


.boxes {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.gogis {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    z-index: 2;   
    background-image: url(images/gogia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 /* მარცხენა ფოტოები */
.lukas {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    z-index: 2;   
    background-image: url(images/luka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* მარცხენა ფოტოები */
.gogis2 {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    z-index: 2;   
    background-image: url(images/gogia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* მარცხენა ფოტოები */
.lukas2 {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    z-index: 2;   
    background-image: url(images/luka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* მარცხენა ფოტოები */


.boseshover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    z-index: 1;
}

.pc {
    width: 500px;
    height: 300px;
    background-color: rgb(158, 158, 158);
    border-radius: 10%;
    top: -640px;
}

.pc {
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 10%;
    position: relative;
    text-align:center;
    top: 0;
    right: 950px;
    transition: all 0.5s;
}

.pc:hover {
    transform: translateX(400px); 
}


.firstanimation {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    position: relative;
    top: 0;
    right: 950px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.firstanimation:hover {
    transform: translateX(400px); 
}




.computers2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    z-index: 1;
}

.pc2 {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -1282px;
    left: 1020px;
    margin: 20px;
    transition: all 0.5s;
}


.person2:hover {
    transform: translateX(370px);
}


